<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  
   <ion-card *ngFor="let item of Data">
     <ion-card-header style = "font-weight: bolder;" >
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>{{item.m}}&nbsp;{{year}}</ion-col>
          <ion-col style="text-align: end;">Income</ion-col>
        </ion-row>
      </ion-grid></ion-card-header>
   <ion-grid *ngIf = "item.m === 'January'">
     <ion-row *ngFor = "let data of data1">
       <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
       <ion-col style="margin-left: 156px;">
         {{data.earning_amount}}
       </ion-col>
     </ion-row>
   </ion-grid>
   <ion-grid *ngIf = "item.m === 'Feburary'">
    <ion-row *ngFor = "let data of data3">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'April'">
    <ion-row *ngFor = "let data of data4">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'May'">
    <ion-row *ngFor = "let data of datas">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'June'">
    <ion-row *ngFor = "let data of data5">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'July'">
    <ion-row *ngFor = "let data of data6">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'August'">
    <ion-row *ngFor = "let data of data7">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'September'">
    <ion-row *ngFor = "let data of data8">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'October'">
    <ion-row *ngFor = "let data of data9">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'November'">
    <ion-row *ngFor = "let data of data10">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "item.m === 'December'">
    <ion-row *ngFor = "let data of data11">
      <ion-col style="margin-left: 14px;">{{data.name}}</ion-col>
      <ion-col style="margin-left: 156px;">
        {{data.earning_amount}}
      </ion-col>
    </ion-row>
  </ion-grid>
    </ion-card>
<ion-card>
  <ion-card-header style = "font-weight: bolder;">
    Minimum individual income
  </ion-card-header>
  <ion-grid *ngIf="incomes">
    <ion-row >
      <ion-col>
        Name
      </ion-col>
      <ion-col>{{incomes.name}}</ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        Income
      </ion-col>
      <ion-col>{{incomes.earning_amount}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<ion-card>
<ion-card-header style = "font-weight: bolder;">
  Maximum individual income
</ion-card-header>

<ion-grid *ngIf="sal">
  <ion-row >
    <ion-col>
      Name
    </ion-col>
    <ion-col>{{sal.name}}</ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      Income
    </ion-col>
    <ion-col>{{sal.earning_amount}}</ion-col>
  </ion-row>
</ion-grid>
</ion-card>
<ion-card>
<ion-card-header style = "font-weight: bolder;">
  user income lowest
</ion-card-header>
<ion-grid *ngIf="incomes">
  <ion-row >
    <ion-col>
      Name
    </ion-col>
    <ion-col>{{incomes.name}}</ion-col>
  </ion-row>
  
    <ion-row >
      <ion-col>
        Date
      </ion-col>
      <ion-col>{{incomes.date}}</ion-col>
    </ion-row>
    <ion-row >
    <ion-col>
      Income
    </ion-col>
    <ion-col>{{incomes.earning_amount}}</ion-col>
  </ion-row>
</ion-grid>
</ion-card>
<ion-card>
  <ion-card-header style = "font-weight: bolder;">
    Maximum individual income
  </ion-card-header>
  
  <ion-grid *ngIf="sal">
    <ion-row >
      <ion-col>
        Name
      </ion-col>
      <ion-col>{{sal.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        {{sal.date}}
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        Income
      </ion-col>
      <ion-col>{{sal.earning_amount}}</ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  
</ion-content>
